
.text-input {
    font-size: 1rem;
    background-color: blanchedalmond;
    border: 2px solid black;
    border-radius: 5px;
}

.clear-btn {
    font-size: 1rem;
    color: blanchedalmond;
    background-color: black;
    border: 2px solid blanchedalmond;
    border-radius: 5px;
}